html,
body {
  height: 100%;
}

body > div {
  height: 100%;
}

body {
  padding: 0;
  min-width: 320px;
  position: relative;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #fff;
}

label {
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  color: #5f5f5f;
}

::-moz-placeholder {
  color: #5f5f5f;
}

:-ms-input-placeholder {
  color: #5f5f5f;
}

.testPostCss {
  p {
    color: red;
  }

  &--nested {
    color: green;
  }
}

.spinner-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
